h1 {
	color: red;
}
body {
	box-sizing: border-box;
	display: block;
	width:1150px;
	height:115px;
	background: Lightgray;
}
.contenedor .titulo{
	font-size: 3.5ex;
	font-weight: bold;
	margin-bottom: 10px
}
#pestanas {
	float: left;
	width: 100%
	line-height:normal;
	font-size: 16px;
	font-weight: bold;
}
#pestanas ul{
	margin-left:0;
	padding: 0;
	list-style: none;
}
#pestanas li{
	float: left;
	margin: 0 0 0 3px;
	padding: 0;
	background: Lightgray;
}
#pestanas a {
	display: block;
	background: Lightgray;
	padding: 3px 10px 3px 10px;
	color #fff;
	text-decoration: none;
}
#pestanas .activa a{
	background: Lightgray;
}

#contenidopestanas{
	clear: both;
	background: dimgray;
	padding: 20px 0px 20px 20px;
	border: 2px solid bisque;
	width: 1025px
}
