table {
	font-family: sans-serif;
	width: 100px
	border: 1px solid %000;
	background: lightgray;
	color: black;
	font-size: 16px;
}

body {
	background: lightblue;
}

h1 {
	font-family: monospace;
	text-align: center;
}
p {
	font-family: cursive;
	font-size: 20px
}

footer {
	text-align: right;
	font-family: fantasy;
}