table {
	width: 100%;
	border: 1px solid %000;
	background: green;
	color: white;
	font-size: 16px;
}
th, td {
	width: 25%;
	text-align: center;
	vertical-align: top;
	border: 1px solid %000;
	font-size: 16px;
}