body {
	background: lightblue;
}

h1 {
	font-family: monospace;
	text-align: center;
}

h2 {
	font-family: sans-serif;
	text-align: center;
}

p {
	font-family: cursive;
	text-align: 20px;
}

h3 {
	font-family: sans-serif;
	text-align: center;
}

footer {
	text-align: right;
	font-family: fantasy;
}